<header class="h-16 border-b px-4 flex items-center justify-between bg-white">
  <div class="flex items-center gap-4">
    <mat-icon class="h-5 w-5 hover:bg-gray-100 rounded-full cursor-pointer">menu</mat-icon>
    <div class="flex items-center gap-2">
      <svg
        class="h-8 w-8 hover:bg-gray-100 rounded-full cursor-pointer"
        viewBox="0 0 512 512"
        xmlns="http://www.w3.org/2000/svg"
        fill="#000000"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <polygon
            fill="var(--ci-primary-color, #000000)"
            points="368 350.643 256 413.643 144 350.643 144 284.081 112 266.303 112 369.357 256 450.357 400 369.357 400 266.303 368 284.081 368 350.643"
            class="ci-primary"
          ></polygon>
          <path
            fill="var(--ci-primary-color, #000000)"
            d="M256,45.977,32,162.125v27.734L256,314.3,448,207.637V296h32V162.125ZM416,188.808l-32,17.777L256,277.7,128,206.585,96,188.808,73.821,176.486,256,82.023l182.179,94.463Z"
            class="ci-primary"
          ></path>
        </g>
      </svg>
      <span class="text-xl text-gray-600 cursor-pointer">EduShare</span>
    </div>
  </div>
  <div class="flex items-center gap-3">
    <mat-icon class=" text-gray-600  rounded-full h-10 w-10 cursor-pointer border-1 border-transparent hover:border-gray-900  hover:shadow-2xl transition-shadow">add</mat-icon>
    <mat-icon class=" text-gray-600 rounded-full h-10 w-10 cursor-pointer border-1 border-transparent hover:border-gray-500  hover:shadow-2xl transition-shadow">apps</mat-icon>
    <img class="h-8 w-8 rounded-full cursor-pointer border-2 border-transparent hover:border-gray-300  hover:shadow-2xl transition-all" src="https://cdn.pixabay.com/photo/2018/06/27/07/45/college-student-3500990_640.jpg" >
  </div>
</header>
