<mat-card class="w-full max-w-md mx-auto space-y-4 min-h-screen">
  <mat-card-header>
    <mat-card-title class="text-xl text-center">
      Sign up to unlock new learning opportunities and courses
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="space-y-4">
    <!-- <div class="flex gap-3 mb-4">
             <button class="flex-1 py-2 border rounded text-sm bg-gray-100 flex items-center justify-center">
                 <img src="assets/google.jpg" alt="Apple" class="h-4 mr-2">Continue with Apple
             </button>
             <button class="flex-1 py-2 border rounded text-sm bg-gray-100 flex items-center justify-center">
                 <img src="assets/google.jpg" alt="Google" class="h-4 mr-2">Continue with Google
             </button>
         </div> -->

    <button
      mat-raised-button
      class="w-full shadow-none bg-[#14a800] hover:bg-[#14a800]/90"
    >
      Continue with Google
    </button>
    <!-- Divider -->
    <div class="relative">
      <div class="absolute inset-0 flex items-center">
        <span class="w-full border-t"></span>
      </div>
      <div class="relative flex justify-center text-xs uppercase">
        <span class="bg-background px-2 text-muted-foreground">or</span>
      </div>
    </div>

    <form  class="space-y-4" [formGroup]="formRegister" (submit)="registerStudentHandler()">
        <!-- Name Fields -->
      <div class="grid grid-cols-2 gap-4">
        <div >
          <label for="first-name" class="block text-sm font-medium mb-1"
            >First name</label
          >
          <input
            type="text"
            id="first-name"
            name="first-name"
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
            formControlName="firstName"
          />
          <div class="text-red-500 text-sm" *ngIf="formRegister.get('firstName')?.errors?.['required'] && formRegister.get('firstName')?.touched">
            First name is required.
          </div>
          <div class="text-red-500 text-sm" *ngIf="formRegister.get('firstName')?.errors?.['minlength'] && formRegister.get('firstName')?.touched">
            First name must be at least 2 characters long.
          </div>
        </div>
        <div >
          <label for="last-name" class="block text-sm font-medium mb-1"
            >Last name</label
          >
          <input
            type="text"
            id="last-name"
            name="last-name"
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
            formControlName="lastName"
          />
          <div class="text-red-500 text-sm" *ngIf="formRegister.get('lastName')?.errors?.['required'] && formRegister.get('lastName')?.touched">
            Last name is required.
          </div>
          <div class="text-red-500 text-sm" *ngIf="formRegister.get('lastName')?.errors?.['minlength'] && formRegister.get('lastName')?.touched">
            Last name must be at least 2 characters long.
          </div>
        </div>
      </div>
    <!-- Email Field -->
      <div>
        <label for="email" class="block text-sm font-medium mb-1">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
          formControlName="email"
        />
        <!-- Required Field Error -->
        <div class="text-red-500 text-sm" *ngIf="formRegister.get('email')?.errors?.['required'] && formRegister.get('email')?.touched">
          Email is required.
        </div>

        <!-- Invalid Email Format Error -->
        <div class="text-red-500 text-sm" *ngIf="formRegister.get('email')?.errors?.['email'] && formRegister.get('email')?.touched">
          Please enter a valid email address.
        </div>
      </div>
       <!-- Password Field -->
      <div>
        <label for="password" class="block text-sm font-medium mb-1"
          >Password (8 or more characters)</label
        >
        <input
          type="password"
          id="password"
          name="password"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
          formControlName="password"
        />

        <div class="text-red-500 text-sm"
             *ngIf="formRegister.get('password')?.errors?.['minlength'] && formRegister.get('password')?.touched">
          Password must be at least 8 characters long.
        </div>

        <div class="text-red-500 text-sm"
             *ngIf="formRegister.get('password')?.errors?.['pattern'] && formRegister.get('password')?.touched">
          Password must contain at least one lowercase letter, one uppercase letter, and one special character.
        </div>
      </div>

      <!-- Checkboxes -->
      <div class=" flex items-center">
        <input
          type="checkbox"
          name="email-updates"
          id="email-updates"
          class="mr-2"
        />
        <label for="email-updates" class="text-sm"
          >Receive notifications about new courses, assignments, and academic resources tailored to your learning needs.</label
        >
      </div>
      <div class="flex items-center">
        <input type="checkbox" name="terms" id="terms" required class="mr-2" />
        <label for="terms" class="text-sm"
          >Yes, I agree to the Edushare Terms of Service, including the User Agreement and Privacy Policy, to enhance my educational journey.</label
        >
      </div>
        <span class="text-red-600" *ngIf="errorMessage">{{errorMessage}}</span>
       <!-- Submit Button -->
        <div class="flex items-center justify-center">
          <button
            [disabled]="formRegister.invalid"
            type="submit"
            class="w-3/5 py-2 bg-green-600 text-white rounded hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300"
          >
            Create my account
          </button>
        </div>
    </form>
    <!-- Log In Link -->
    <div class="text-center text-sm">
      Already have an account?
      <a routerLink="/auth/login" class="text-primary hover:underline">Log In</a>
    </div>
  </mat-card-content>
</mat-card>
