<!-- <div class="w-64 border-r h-[calc(100vh-64px)] p-3">
  <nav class="space-y-4 flex flex-col">
    <span variant="ghost" class="flex items-center w-full justify-start">
      <mat-icon class="mr-4 h-1 w-1">home</mat-icon>
      Accueil
    </span>
    <span variant="ghost" class="flex items-center w-full justify-start">
      <mat-icon class="mr-4 h-1 w-1">today</mat-icon>
      Agenda
    </span>
    <span variant="ghost" class="flex items-center w-full justify-start">
      <mat-icon class="mr-4 h-1 w-1">fact_check</mat-icon>
      Inscrit
    </span>
    <span variant="ghost" class="flex items-center w-full justify-start">
      <mat-icon class="mr-4 h-1 w-1">list</mat-icon>
      À faire
    </span>
    <div class="py-2">
      <span class="h-[1px] bg-border"></span>
      <hr class="border-gray-250">
    </div>
    <span variant="ghost" class="flex items-center w-full justify-start">
      <mat-icon class="mr-4 h-1 w-1">archive</mat-icon>
      Cours archivés
    </span>
    <span variant="ghost" class="flex items-center w-full justify-start">
      <mat-icon class="mr-4 h-1 w-1">settings</mat-icon>
      Paramètres
    </span>
  </nav>
</div> -->

<mat-sidenav-container class="max-h-[calc(100vh-64px)] overflow-hidden fixed top-0">
  <!-- Sidenav -->
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <!-- Home -->
      <mat-list-item tabindex="-1" routerLink="home"  matRipple="false">
        <mat-icon matListItemIcon>home</mat-icon>
        <h4 matListItemTitle>Accueil</h4>
      </mat-list-item>

      <!-- Agenda -->
      <mat-list-item routerLink="agenda">
        <mat-icon matListItemIcon>today</mat-icon>
        <h4 matListItemTitle>Agenda</h4>
      </mat-list-item>

      <!-- Inscrit -->
      <!-- <mat-list-item>
        <mat-icon matListItemIcon>fact_check</mat-icon>
        <h4 matListItemTitle>Inscrit</h4>
      </mat-list-item> -->
      <div mat-subheader>Inscrit</div>

      <!-- À faire -->
      <mat-list-item routerLink="todo">
        <mat-icon matListItemIcon>list</mat-icon>
        <h4 matListItemTitle>À faire</h4>
      </mat-list-item>

      <!-- À faire -->
      <mat-list-item  *ngFor="let course of courses">
        <mat-icon
          matListItemIcon
          class="text-white bg-green-600 rounded-full w-12 h-12"
        >
          {{ course.initial }}
        </mat-icon>
        <div class="st" matListItemTitle>{{ course.title }}</div>
        <div class="stt" matListItemLine>{{ course.subtitle }}</div>
      </mat-list-item>

      <!-- Divider -->
      <hr class="my-2 border-gray-300" />

      <!-- Cours archivés -->
      <mat-list-item routerLink="archived-courses">
        <mat-icon matListItemIcon>archive</mat-icon>
        <h4 matListItemTitle>Cours archivés</h4>
      </mat-list-item>

      <!-- Paramètres -->
      <mat-list-item routerLink="settings">
        <mat-icon matListItemIcon>settings</mat-icon>
        <h4 matListItemTitle>Paramètres</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
