mat-sidenav-container {
  height: 100vh; /* Full-height sidebar */
  padding-left: 1rem; /* 1rem = 16px by default */
  padding-right: 1rem; /* 1rem = 16px by default */
}

mat-sidenav {
  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
}

mat-list-item {
  font-family: "Google Sans", serif;
  font-style: normal;
  font-weight: 400;
  gap: 1.5rem;
  padding: 12px 16px;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #333333;
  transition: background-color 0.2s ease;
}

mat-list-item:hover {
  background-color: #f5f5f5; /* Light gray on hover */
}

mat-list-item.active {
  background-color: #e5f0fe; /* Light blue for active state */
  color: #1a73e8; /* Blue text */
}

mat-icon {
  /* margin-right: 12px; */
  /* color: #757575; Default icon color */
}

mat-list-item h4 {
  flex-grow: 1;
}
.st {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(60, 64, 67);
  font-size: 14px;
  line-height: 20px;
}
.stt {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(95, 99, 104);
  font-size: 12px;
  line-height: 12px;
}


