<!-- Header Banner  -->
<div class="bg-emerald-600 text-white rounded-lg overflow-hidden mb-6">
  <div class="relative h-48">
    <div class="absolute inset-0">
      <img src="assets/pic.jpg" alt="" class="h-full w-full object-cover" />
      <div class="absolute inset-0 bg-emerald-600/90"></div>
    </div>
    <div class="relative z-10 p-6">
      <h1 class="text-3xl font-bold mb-2">
        {{ (classroom$ | async)?.coursesName }}
      </h1>
      <p class="text-emerald-50">
        {{ (classroom$ | async)?.section }}
      </p>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-[200px,1fr] gap-6">
  <aside >
    <mat-card appearance="outlined">
      <mat-card-header class="flex items-center justify-between p-4">
        <mat-card-title class="font-semibold mb-2">À venir</mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-gray-600 text-sm mb-4">
          Génial, aucun devoir à remettre dans les jours qui viennent !

      </mat-card-content>
       
      <mat-card-actions align="end" >
        <button mat-button color="primary" class="text-blue-600 p-0 h-auto" >
          Tout afficher
        </button>
      </mat-card-actions>
    
    </mat-card>
  </aside>
  <main>
    <!-- list courses -->
    <app-course-chapter-list></app-course-chapter-list>
  </main>
</div>
